/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elementi di layout */

.primary-header{
    height: 80px;
    background-color: rgb(238, 230, 230);
    display: flex;
    align-items: center;
}

main{
    height: calc(100vh - 80px);
}



.main-contents{
    background-color: white;
    flex-grow: 1;
}

h4{
    font-size: 16px;
}



/* utili */

.mt-20{
    margin-top: 20px;
}

.br-10{
    border-radius: 10px;
}

.mb-20{
    margin-bottom: 20px;
}



/* header */

header .container-fluid{
    background-color: white;
    height: 60px;
    
}



img.d-lg-none{
    max-width: 45px;
}

input.form-control,
.input-group-text{
    height: 45px;
    background-color: lightgray;
}

.h-icons{
    display: flex;
    gap: 10px;
    list-style-type: none;
    border: 0;
    align-items: center;
    justify-content: center;
}


.fa-bell{
    color: orange;
}

/* sidebar */

.sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-color: #030341;
    flex-basis: 50px;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.page-icons{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
}

.page-icons,
.fa-gear{
    list-style-type: none;
    color: white;
    font-size: 18px;
    line-height: 2;
}



button{
    background-color: transparent;
}

i{
    border: 0;
    
}



a{
    text-decoration: none;
    color: white;
}

/* contenuti principali */

.main-contents{
    overflow: auto;
    background-color: rgba(240, 230, 230, 0.702);
}



.table{
    padding: 0.5rem 1.5rem;
    vertical-align: baseline;
    caption-side: top;
}



table i{
    color: rgb(100, 88, 88);
}

.c-avatar{
    max-width: 40px;
    height: 40 px;
    border-radius: 50%;
}

tr{
    line-height: 40px;
}

td.badge{
    padding: 5px 10px;
    vertical-align: baseline;
}

div.card{
    margin-bottom: 10px;
}

li img{
    max-width: 100%;
}

/* offcanvas */

.form-text{
    width: 50%;
}

/* media query */

@media screen and (min-width: 992px){
    .sidebar{
        flex-basis: 145px;
    }

}